.footer{
    background-color: var(--color-yellow);
    text-align: center;
    color: var(--defaul-color);
    padding: 2rem 1rem;
    font-weight: 800;
}
.footer-list{
    margin-top: 1rem;
}

.footer ul {
    padding-inline-start: 0px;
}

.footer ul li {
    text-decoration: none;
}
.links {
    text-decoration: none;
    padding: 0.5rem;
    color: var(--default-color);
}
.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}