@import url('../css/navbar.css');
@import url('../css/sidebar.css');
@import url('../css/component.css');
@import url('../css/footer.css');
@import url('../Components/Button/button.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

:root {
    --primary-color: #2563eb;
    --default-color: #18181b;
    --error-color: #dc2626;
    --success-color: #4ade80;
    --warning-color: #f97316;
    --color-white: #FFFFFF;

    --light-yellow: #fefce8;
    --active-border: #eab308;
    --divider-color: #b59000;
    --list-hover: #fde047;
    --color-yellow: #ffff00;
    --overlay-color:#d1d5db;

    --bold-regular: 800;
}