.grid-box-2{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--light-yellow);
    min-height: 6.5rem;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
}

.grid-box-3{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--light-yellow);
    min-height: 6.5rem;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
}


.grid-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 5rem;
    background-color: var(--success-color);
    color: var(--color-white);

}