<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="grid.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="js/fontawesomepro.js"></script>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.0.0/css/all.css">

    <title>Grid|Mango UI</title>
</head>

<body>
    <header>
        <nav>
            <div class="nav-hero">

                <a href="/../index.html"> Mango UI <i class="fa-solid fa-mango"></i> </a>
            </div>

            <ul class="nav-pills">
                <li><a href="/../index.html">Home <i class="fa-solid fa-house-chimney"></i></a></li>
                <li><a href="https://github.com/Shivanshsharma01/Mango-UI">Github <i
                            class="fa-brands fa-github"></i></a>
                </li>

            </ul>
        </nav>
    </header>


    <div class="container">


        <main class="whole-content">
            <section class="sidebar">

                <div>
                    <div class="list-heading">
                        <a href="/Components/Introduction/introduction.html">
                            Get Started
                        </a>
                    </div>
                    <ul class="list-subheading">
                        <li>
                            <a href="/Components/Introduction/introduction.html">
                                Introduction
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="list-heading">
                        <a href="#">Components</a>
                    </div>
                    <ul class="list-subheading">
                        <li>
                            <a href="/Components/Alert/alert.html">
                                Alert
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Avatar/avatar.html">
                                Avatar
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Badge/badge.html">
                                Badge
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Button/button.html">
                                Button
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Card/card.html">
                                Card
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Image/image.html">
                                Image
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Input/input.html">
                                Input
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Navbar/nav.html">
                                Navbar
                            </a>
                        </li>
                        <li>
                            <a class="active"  href="#">
                                Grid
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Toast/toast.html">
                                Toast
                            </a>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="main-content">
                <div class="content-heading">
                    Toast
                </div>
                <div class="content-subheading">
                    Grids are helpful in creating fluid layouts that fit across multiple devices with difference
                    resolutions. Chunks provides two column and three column layouts.
                </div>
                <div class="divider"></div>


                <div class="content-head">
                    Two Item Grid
                </div>

                <div class="content-subheading">
                    It has 2 items in a grid.
                </div>

                <div class="grid-box-2 ">

                    <div class="grid-items">Item 1</div>
                    <div class="grid-items">Item 2</div>

                </div>

                <iframe src="https://carbon.now.sh/embed/awaa7JrJBv1o3LIkDzcT"
                    style="width: 50rem;margin-bottom: 2rem; min-height: 19rem; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                <div class="divider"></div>


                <div class="content-head">
                    Three Item Grid
                </div>

                <div class="content-subheading">
                    It has 3 items in a grid.
                </div>

                <div class="grid-box-3 ">

                    <div class="grid-items">Item 1</div>
                    <div class="grid-items">Item 2</div>
                    <div class="grid-items">Item 2</div>

                </div>

                <iframe src="https://carbon.now.sh/embed/5ruHvMZVJexJTfmlRnID"
                    style="width: 50rem;margin-bottom: 2rem; min-height: 19rem; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>

            </section>
        </main>
    </div>
    </div>
    <footer class="footer">

        <div class="footer-header">Made with 💖 by Shivansh Sharma</div>
        <ul class="footer-list">
            <li class="list-item-inline">
                <a class="links " href="https://github.com/Shivanshsharma01" target="blank">Githhub <i
                        class="fa-brands fa-github"></i> </a>

            </li>
            <li class="list-item-inline">
                <a class="links" href="https://twitter.com/Shivansh_10" target="blank">Twitter <i
                        class="fa-brands fa-twitter"></i></a>
            </li>
            <li class="list-item-inline">
                <a class="links" href="https://www.linkedin.com/in/shivanshsharma10/" target="blank">LinkedIn <i
                        class="fa-brands fa-linkedin-in"></i></a>
            </li>

        </ul>
    </footer>
</body>

</html>