<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="input.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="js/fontawesomepro.js"></script>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.0.0/css/all.css">

    <title>Input|Mango UI</title>
</head>

<body>
    <header>
        <nav>
            <div class="nav-hero">

                <a href="/../index.html"> Mango UI <i class="fa-solid fa-mango"></i> </a>
            </div>

            <ul class="nav-pills">
                <li><a href="/../index.html">Home <i class="fa-solid fa-house-chimney"></i></a></li>
                <li><a href="https://github.com/Shivanshsharma01/Mango-UI">Github <i
                            class="fa-brands fa-github"></i></a>
                </li>

            </ul>
        </nav>
    </header>


    <div class="container">


        <main class="whole-content">
            <section class="sidebar">

                <div>
                    <div class="list-heading">
                        <a href="/Components/Introduction/introduction.html">
                            Get Started
                        </a>
                    </div>
                    <ul class="list-subheading">
                        <li>
                            <a href="/Components/Introduction/introduction.html">
                                Introduction
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="list-heading">
                        <a href="#">Components</a>
                    </div>
                    <ul class="list-subheading">
                        <li>
                            <a href="/Components/Alert/alert.html">
                                Alert
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Avatar/avatar.html">
                                Avatar
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Badge/badge.html">
                                Badge
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Button/button.html">
                                Button
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Card/card.html">
                                Card
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Image/image.html">
                                Image
                            </a>
                        </li>
                        <li>
                            <a class="active" href="#">
                                Input
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Navbar/nav.html">
                                Navbar
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Grid/grid.html">
                                Grid
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Toast/toast.html">
                                Toast
                            </a>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="main-content">
                <div class="content-heading">
                    Input
                </div>
                <div class="content-subheading">
                    Input is another way the user interacts with websites. They are used to get user's inputs and
                    choices.
                </div>

                <div class="divider"></div>
                <div class="content-head">
                    Input Fields
                </div>

                <div class="content-subheading">
                    Input fields usually have a label along with the actual input field.
                </div>


                <div class="example-div">

                    <div class="input-group ">
                        <label>Username *</label>

                        <input type="text" class="input-simple">
                    </div>

                    <div class="input-group ">
                        <label>Password *</label>
                        <input type="text" class="input-simple">
                    </div>
                </div>



                <iframe src="https://carbon.now.sh/embed/ZOQ2AJ0cxCxfVB4WhiNi"
                    style="width: 50rem;margin-bottom: 2rem; min-height: 19rem; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>

                <div class="divider"></div>

                <div class="content-head">
                    Input Fields with Validation styles
                </div>

                <div class="content-subheading">
                    Input fields with validation usually have a validation messsagealong with the actual input field.
                </div>


                <div class="example-div ">
                    <div class="input-group">
                        <label>Username *</label>
                        <input type="text" class="success-input">
                        <div class="success-message">
                            <i class="fa-solid fa-circle-check"></i> This username is available
                        </div>
                    </div>

                    <div class="input-group ">
                        <label class="error-label">Password *</label>
                        <input type="text" class="error-input">
                        <div class="error-message">
                            <i class="fa-solid fa-ban"></i> Wrong Password. Try again.
                        </div>
                    </div>
                </div>

                <iframe src="https://carbon.now.sh/embed/6s8baXlW6SsAkK2PpSHY"
                    style="width: 50rem;margin-bottom: 2rem; min-height: 19rem; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>

            </section>
        </main>
    </div>
    </div>
</body>

<footer class="footer">

    <div class="footer-header">Made with 💖 by Shivansh Sharma</div>
    <ul class="footer-list">
        <li class="list-item-inline">
            <a class="links " href="https://github.com/Shivanshsharma01" target="blank">Githhub <i
                    class="fa-brands fa-github"></i> </a>

        </li>
        <li class="list-item-inline">
            <a class="links" href="https://twitter.com/Shivansh_10" target="blank">Twitter <i
                    class="fa-brands fa-twitter"></i></a>
        </li>
        <li class="list-item-inline">
            <a class="links" href="https://www.linkedin.com/in/shivanshsharma10/" target="blank">LinkedIn <i
                    class="fa-brands fa-linkedin-in"></i></a>
        </li>

    </ul>
</footer>
</body>

</html>