<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="button.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="js/fontawesomepro.js"></script>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.0.0/css/all.css">
    <title>Button|Mango UI</title>
</head>

<body>
    <nav>
        <div class="nav-hero">

            <a href="/../index.html"> Mango UI <i class="fa-solid fa-mango"></i> </a>
        </div>

        <ul class="nav-pills">
            <li><a href="/../index.html">Home <i class="fa-solid fa-house-chimney"></i></a></li>
            <li><a href="https://github.com/Shivanshsharma01/Mango-UI">Github <i class="fa-brands fa-github"></i></a>
            </li>

        </ul>
    </nav>
    <div class="container">
        <div class="whole-content">
            <div class="sidebar">

                <div>
                    <div class="list-heading">
                        <a href="/Components/Introduction/introduction.html">
                            Get Started
                        </a>
                    </div>
                    <ul class="list-subheading">
                        <li>
                            <a href="/Components/Introduction/introduction.html">
                                Introduction
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="list-heading">
                        <a href="#">Components</a>
                    </div>
                    <ul class="list-subheading">
                        <li>
                            <a href="/Components/Alert/alert.html">
                                Alert
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Avatar/avatar.html">
                                Avatar
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Badge/badge.html">
                                Badge
                            </a>
                        </li>
                        <li>
                            <a class="active" href="#">
                                Button
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Card/card.html">
                                Card
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Image/image.html">
                                Image
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Input/input.html">
                                Input
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Navbar/nav.html">
                                Navbar
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Grid/grid.html">
                                Grid
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Toast/toast.html">
                                Toast
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-content">
                <div class="content-heading">
                    Button
                </div>
                <div class="content-subheading">
                    Buttons are the soul of an interactive Web Application. Buttons allow users to take actions, and
                    make choices, with a single tap.
                </div>

                <div class="divider"></div>


                <div class="content-head">
                    Contained Button
                </div>

                <div class="content-subheading">
                    Buttons with background color are usually used known as contained buttons and they are used as call
                    to action buttons — usually with primary background. There are other types also such as secondary,
                    danger — to indicate things that might cause something to be deleted, and success — for
                    affirmations.
                </div>


                <div class="example-div">
                    <button class="btn btn-primary">PRIMARY</button>

                    <button class="btn btn-warning">WARNING</button>

                    <button class="btn btn-error">ERROR</button>

                    <button class="btn btn-success">SUCCESS</button>
                </div>

                <iframe src="https://carbon.now.sh/embed/NnVBaqZ1Ub6UiEMvc504"
                    style="width: 50rem; min-height: 19rem; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>

                <div class="divider"></div>


                <div class="content-head">
                    Button with icon
                </div>

                <div class="content-subheading">
                    These buttons along with text have icons and are generally seen in shopping sites.
                </div>

                <div class="example-div ">
                    <button class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i> ADD TO CART</button>

                    <button class="btn btn-error"><i class="fa-solid fa-trash"></i> DELETE</button>

                    <button class="btn btn-success"><i class="fa-solid fa-download"></i> SAVE</button>
                </div>
                <iframe src="https://carbon.now.sh/embed/JjKIDealxDhHdDOZWXYw"
                    style="width: 50rem; height: 19rem; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>

                <div class="divider"></div>


                <div class="content-head">
                    Button with Link
                </div>

                <div class="content-subheading">
                    These are links — to other parts of the webpage or to other websites.
                </div>

                <div class="example-div ">
                    <button class="btn btn-link">
                        <a href="#">LINK</a>
                    </button>
                </div>
                <iframe src="https://carbon.now.sh/embed/sIQfw0LxKuaNLajRHCCq"
                    style="width: 50rem; height: 19rem; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>

                <div class="divider"></div>


                <div class="content-head">
                    Float Button
                </div>

                <div class="content-subheading">
                    These buttons are fixed to a particular part of the viewport and are stacked on top of all the
                    things.
                </div>

                <div class="example-div">
                    <button class="btn-float btn-primary"><i class="fa-solid fa-plus"></i></i></button>

                    <button class="btn-float btn-success"><i class="fa-solid fa-location-crosshairs"></i></button>
                </div>
                <iframe src="https://carbon.now.sh/embed/aNCc3m3NueKq6JUiitT2"
                    style="width: 50rem; height: 19rem; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>

            </div>
        </div>
    </div>
    <footer class="footer">

        <div class="footer-header">Made with 💖 by Shivansh Sharma</div>
        <ul class="footer-list">
            <li class="list-item-inline">
                <a class="links " href="https://github.com/Shivanshsharma01" target="blank">Githhub <i
                        class="fa-brands fa-github"></i> </a>

            </li>
            <li class="list-item-inline">
                <a class="links" href="https://twitter.com/Shivansh_10" target="blank">Twitter <i
                        class="fa-brands fa-twitter"></i></a>
            </li>
            <li class="list-item-inline">
                <a class="links" href="https://www.linkedin.com/in/shivanshsharma10/" target="blank">LinkedIn <i
                        class="fa-brands fa-linkedin-in"></i></a>
            </li>

        </ul>
    </footer>
</body>

</html>