<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="slider.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="js/fontawesomepro.js"></script>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.0.0/css/all.css">

    <title>Slider|Mango UI</title>
</head>

<body>
    <header>
        <nav>
            <div class="nav-hero">

                <a href="/../index.html"> Mango UI <i class="fa-solid fa-mango"></i> </a>
            </div>

            <ul class="nav-pills">
                <li><a href="/../index.html">Home <i class="fa-solid fa-house-chimney"></i></a></li>
                <li><a href="https://github.com/Shivanshsharma01/Mango-UI">Github <i
                            class="fa-brands fa-github"></i></a>
                </li>

            </ul>
        </nav>
    </header>


    <div class="container">


        <main class="whole-content">
            <section class="sidebar">
                <div>
                    <div class="list-heading">
                        <a href="/Components/Introduction/introduction.html">
                            Get Started
                        </a>
                    </div>
                    <ul class="list-subheading">
                        <li>
                            <a href="/Components/Introduction/introduction.html">
                                Introduction
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="list-heading">
                        <a href="#">Components</a>
                    </div>
                    <ul class="list-subheading">
                        <li>
                            <a href="/Components/Alert/alert.html">
                                Alert
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Avatar/avatar.html">
                                Avatar
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Badge/badge.html">
                                Badge
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Button/button.html">
                                Button
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Card/card.html">
                                Card
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Image/image.html">
                                Image
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Input/input.html">
                                Input
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Navbar/nav.html">
                                Navbar
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Grid/grid.html">
                                Grid
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Toast/toast.html">
                                Toast
                            </a>
                        </li>
                        <li>
                            <a class="active" href="#">
                               Slider
                            </a>
                        </li>
                    </ul>
                </div>
            </section>

            <section class=" main-content">
                                <div class="content-heading">
                                    SLIDER
                                </div>
                                <div class="content-subheading">
                                    Slider's are another way to get Users input on a property which can take up a range of values.
                                </div>

                                <div class="example-div ">

                                    <input type="range" min="0" max="10000" step="2500" list="tickmarks"
                                        class="slider" />
                                    <datalist id="tickmarks" class="input-datalist">
                                        <option value="0" class="txt-semibold" label=""></option>
                                        <option value="2500" class="hide"></option>
                                        <option value="5000" class="txt-semibold" label=""></option>
                                        <option value="7500" class="hide"></option>
                                        <option value="10000" class="txt-semibold" label=""></option>
                                    </datalist>

                                </div>

                                <iframe src="https://carbon.now.sh/embed/HJ5SSLUDedXbI3AwGvgX"
                                    style="width: 50rem;margin-bottom: 2rem; min-height: 19rem; border:0; transform: scale(1); overflow:hidden;"
                                    sandbox="allow-scripts allow-same-origin">
                                </iframe>

            </section>
        </main>
    </div>
    </div>
    <footer class="footer">

        <div class="footer-header">Made with 💖 by Shivansh Sharma</div>
        <ul class="footer-list">
            <li class="list-item-inline">
                <a class="links " href="https://github.com/Shivanshsharma01" target="blank">Githhub <i
                        class="fa-brands fa-github"></i> </a>

            </li>
            <li class="list-item-inline">
                <a class="links" href="https://twitter.com/Shivansh_10" target="blank">Twitter <i
                        class="fa-brands fa-twitter"></i></a>
            </li>
            <li class="list-item-inline">
                <a class="links" href="https://www.linkedin.com/in/shivanshsharma10/" target="blank">LinkedIn <i
                        class="fa-brands fa-linkedin-in"></i></a>
            </li>

        </ul>
    </footer>
</body>

</html>