<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="badge.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="js/fontawesomepro.js"></script>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.0.0/css/all.css">

    <title>Badge|Mango UI</title>
</head>

<body>
    <header>
        <nav>
            <div class="nav-hero">

                <a href="#"> Mango UI <i class="fa-solid fa-mango"></i> </a>
            </div>

            <ul class="nav-pills">
                <li><a href="index.html">Home <i class="fa-solid fa-house-chimney"></i></a></li>
                <li><a href="https://github.com/Shivanshsharma01/Mango-UI">Github <i
                            class="fa-brands fa-github"></i></a>
                </li>

            </ul>
        </nav>
    </header>


    <div class="container">


        <main class="whole-content">
            <section class="sidebar">

                <div>
                    <div class="list-heading">
                        <a href="/Get Started/introduction.html">
                            Get Started
                        </a>
                    </div>
                    <ul class="list-subheading">
                        <li>
                            <a href="/Get Started/introduction.html">
                                Introduction
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="list-heading">
                        <a href="/Components/Avatar/avatar.html">Components</a>
                    </div>
                    <ul class="list-subheading">
                        <li>
                            <a href="/Components/Alert/alert.html">
                                Alert
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Avatar/avatar.html">
                                Avatar
                            </a>
                        </li>
                        <li>
                            <a class="active" href="#">
                                Badge
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Button/button.html">
                                Button
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Card/card.html">
                                Card
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Image Comp/image.html">
                                Image
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Input/input.html">
                                Input
                            </a>
                        </li>
                        <li>
                            <a href="/Components/list/list.html">
                                List
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Slider/slider.html">
                                Slider
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Toast/toast.html">
                                Toast
                            </a>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="main-content">
                <div class="content-heading">
                    Badge
                </div>
                <div class="content-subheading">
                    Badges are usually seen in social media apps to indicate the status of whether a person is online or
                    offline. They are also used to indicate number of unread notifications. There are multiple variants
                    of these that come with different colors and
                </div>

                <div class="divider"></div>


                <div class="content-head">
                    Badge on Avatar
                </div>

                <div class="content-subheading">
                    Badges on avatars can be used to indicate the status of the person — whether he / she is online.
                </div>


                <div class="example-div ">
                    <div class="badge">
                        <img class="badge-avatar"
                            src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
                            alt="avatar-1">

                        <div class="online"></div>
                    </div>

                    <div class="badge">
                        <img class="badge-avatar"
                            src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
                            alt="avatar-2">

                        <div class="offline"></div>
                    </div>

                    <div class="badge">
                        <img class="badge-avatar"
                            src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
                            alt="avatar-3">

                        <div class="away"></div>
                    </div>

                    <div class="badge">
                        <img class="badge-avatar"
                            src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
                            alt="avatar-4">

                        <div class="busy"></div>
                    </div>
                </div>

                <iframe src="https://carbon.now.sh/embed/r3KFW6OlzU4wDbplC6zN"
                    style="width: 50rem;margin-bottom: 2rem; min-height: 19rem; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>

                <div class="divider"></div>


                <div class="content-head">
                    Badge on Icon
                </div>

                <div class="content-subheading">
                    Badge on icon can be used to show number of notifications, unread messages and so on. It usually has
                    a icon with a number representing count on that notification.
                </div>

                <div class="example-div">

                    <div class="badge avatar ">
                        <i class="fa-solid fa-message"></i>
                        <div class="badge-counter online ">12</div>
                    </div>

                    <div class="badge avatar ">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <div class="badge-counter ">10</div>
                    </div>

                    <div class="badge">
                        <i class="fa-solid fa-envelope"></i>
                        <div class="badge-counter busy">15</div>
                    </div>
                </div>
                <iframe src="https://carbon.now.sh/embed/lhQWybSLbhMvzmKgjo9y"
                    style="width: 50rem; margin-bottom: 2rem; min-height: 19rem; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </section>
        </main>
    </div>
    </div>
    <footer class="footer">

        <div class="footer-header">Made with 💖 by Shivansh Sharma</div>
        <ul class="footer-list">
            <li class="list-item-inline">
                <a class="links " href="https://github.com/Shivanshsharma01" target="blank">Githhub <i
                        class="fa-brands fa-github"></i> </a>

            </li>
            <li class="list-item-inline">
                <a class="links" href="https://twitter.com/Shivansh_10" target="blank">Twitter <i
                        class="fa-brands fa-twitter"></i></a>
            </li>
            <li class="list-item-inline">
                <a class="links" href="https://www.linkedin.com/in/shivanshsharma10/" target="blank">LinkedIn <i
                        class="fa-brands fa-linkedin-in"></i></a>
            </li>

        </ul>
    </footer>
</body>

</html>